.popup {
	background-color: #008080;
	border: 2px solid black;
	position: fixed;
	top: 50px;
	right: 1%;
	width: 250px;
	height: 200px;
	z-index: 10;
}

.popupTitle {
	color: white;
	font-weight: bold;
	padding: 4px;
}

.popupButton {
	margin: 0 4px 0 4px;
}

textArea {
	width: 240px;
	height: 140px;
	margin: 2px;
	background-color: #72AB88;
	border-color: black;
}