.nodisp {
	display: none !important;
}

body {
	user-select: none;
	background-repeat: no-repeat;
  	background-size: cover;
  	background-attachment: fixed;
    background-position: center;
}

.button-selected {
	color: red;
}

#topContainer {
	display: flex;
	position: fixed;
	width: 100%;
	z-index: 1;
}

#controlsContainer:hover > #controls {
	visibility: visible; 
}

#controls {
	display: flex;
	visibility: hidden;
}

#controls > div {
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 2px;
}

#removeHeartButton {
	background-image: url("../Images/heart-empty.png");
}

#addHeartButton {
	background-image: url("../Images/heart-full.png");
}

#toggleDoubleDefenseButton {
	background-image: url("../Images/heart-full-dd.png");
}

#health {
	display: flex;
	flex-direction: column;
}

#health > div {
	display: flex;
}

.heart {
	width: 30px;
	height: 27px;
	padding-bottom: 2px;
	background-repeat: no-repeat;
}

.heart.full {
	background-image: url("../Images/heart-full.png");
}

.heart.empty {
	background-image: url("../Images/heart-empty.png");
}

.heart.three-quarters {
	background-image: url("../Images/heart-three-quarters.png");
}

.heart.half {
	background-image: url("../Images/heart-half.png");
}

.heart.one-quarter {
	background-image: url("../Images/heart-one-quarter.png");
}

.heart.full.double-defense {
	background-image: url("../Images/heart-full-dd.png");
}

.heart.empty.double-defense {
	background-image: url("../Images/heart-empty-dd.png");
}

.heart.three-quarters.double-defense {
	background-image: url("../Images/heart-three-quarters-dd.png");
}

.heart.half.double-defense {
	background-image: url("../Images/heart-half-dd.png");
}

.heart.one-quarter.double-defense {
	background-image: url("../Images/heart-one-quarter-dd.png");
}

#magicContainer:hover > #magic {
	visibility: visible;
}

#magic {
	border: 4px solid LightGray;
	margin-top: 5px;
	width: 150px;
	height: 20px;
	opacity: 0.4;
	border-radius: 2px;
	visibility: hidden;
}

#magic.magic-single, #magic.magic-double {
	border: 3px solid white;
	box-shadow: 0 0 2pt 1pt black;
	background: linear-gradient(Green, Chartreuse, Green);
	opacity: 1;
	visibility: visible;
}

#magic.magic-double {
	width: 293px;
}

#hudButtons {
	display: flex;
	margin-left: auto;
}

#ageSelecter, #songPopup {
	width: 80px;
	height: 80px;
	margin-right: 30px;
	border-radius: 40px;
	border: 2px solid black;
	background-size: contain;
	background-repeat: no-repeat;
	box-shadow: 1px 1px 1px 1px black;
}

#songPopup {
	margin-right: 20px;
	background-image: url("../Images/Fairy Ocarina HUD.png"), linear-gradient(to right bottom, rgb(88, 89, 242), rgb(56, 59, 167), rgb(57, 61, 164));
}

#ageSelecter.child {
	background-image: url("../Images/Kokiri Sword HUD.png");
	background-image: url("../Images/Kokiri Sword HUD.png"), linear-gradient(to right bottom, rgb(3, 144, 4), rgb(0, 99, 6), rgb(0, 47, 5));
}

#ageSelecter.adult {
	background-image: url("../Images/Master Sword HUD.png");
	background-image: url("../Images/Master Sword HUD.png"), linear-gradient(to right bottom, rgb(3, 144, 4), rgb(0, 99, 6), rgb(0, 47, 5));
}

.c-button {
	width: 70px;
	height: 70px;
	position: relative;
	border-radius: 35px;
	border: 2px solid black;
	box-shadow: 1px 1px 1px 1px black;
	background-size: contain;
	background-repeat: no-repeat;
}

.c-button:hover, #ageSelecter:hover, #songPopup:hover {
	box-shadow: 0 0 2px 2px white;
}

#saveLoadPopup {
	width: 46px;
	height: 46px;
	position: absolute;
	right: 96px;
	background-image: url("../Images/SaveLoad.png"), linear-gradient(to right bottom, rgb(222, 144, 8), rgb(163, 109, 3), rgb(147, 88, 8));
}

#itemPopup {
	top: 5px;
	background-image: url("../Images/Fairy Slingshot.png"), linear-gradient(to right bottom, rgb(222, 144, 8), rgb(163, 109, 3), rgb(147, 88, 8));
}

#equipmentPopup {
	top: 58px;
	right: 9px;
	background-image: url("../Images/Deku Shield.png"), linear-gradient(to right bottom, rgb(222, 144, 8), rgb(163, 109, 3), rgb(147, 88, 8));
}

#medallionsPopup {
	top: 5px;
	right: 19px;
	background-image: url("../Images/Kokiri's Emerald.png"), linear-gradient(to right bottom, rgb(222, 144, 8), rgb(163, 109, 3), rgb(147, 88, 8));
}

#rupeeContainer {
	float: left;
	display: flex;
	position: fixed;
	bottom: 0;
}

#walletImage {
	height: 40px;
	width: 40px;
	margin-right: 3px;
	background-repeat: no-repeat;
}

#inputRupees {
	color: white;
	font-weight: bolder;
	font-size: 30pt;
	font-style: italic;
	text-shadow: 2px 2px black;
	border: none;
	background: none;
}

#inputRupees.maxRupees {
	color: rgb(95, 196, 2);
}

#inputRupees.noRupees {
	color: LightGray;
}

#inputRupees:focus {
	outline: none;
}

#locationContainer {
	background-image: url("../Images/Dungeon Map.png");
	background-repeat: no-repeat;
	background-size: 180px 151px;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 3;
	height: 151px;
	width: 180px;
	float: right;
	margin-right: 10px;
}

#comboBoxLocations {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align-last: center;
	
	color: white;
	font-weight: bolder;
	font-size: 12pt;
	font-style: italic;
	text-shadow: 2px 2px black;
	border: none;
	background: none;
	
    text-indent: 1px;
    text-overflow: '';
}

#comboBoxLocations:focus {
	outline: none;
}

#locationContainer:hover > #comboBoxLocations {
	font-size: 14pt;
}

#comboBoxLocations > option {
	background-color: black;
	font-size: 12pt;
}

/**
 * Middle section
 */
 #middleContainer {
 	display: flex; 
 }

/**
 * Event container
 */
#eventContainer {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 120px;
	padding: 2px;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
	margin-bottom: 50px;
	margin-right: 360px;
}

#eventContainer > div {
	color: rgba(0, 0, 0, 1);
	font-family: Tahoma;
	font-size: 16pt;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 2px;
}

#levelButtonContainer {
	display: flex;
}

#levelButtonContainer > button {
	min-height: 25px;
	border: none;
	border-radius: 15px;
	box-shadow: 0 0 2pt 1pt black;
	font-weight: bold;
	margin-right: 5px;
}

#levelButtonContainer > button:focus {
	outline: none;
}

#buttonPunishment {
	width: 25px;
	min-width: 25px;
	height: 25px;
	background-color: green;
}

#buttonPunishment.toggled-on {
	background-color: red;
}

#divEvents > div {
	display: flex;
}

#divEvents > div:nth-child(even) {
	background-image: url("../Images/White.png");
}

#divEvents > div:nth-child(odd) {
	background-image: url("../Images/LightGray.png");
}

.eventNumber {
	color: rgba(0, 0, 0, 1);
	width: 35px;
}

/**
 * Item progress stuff
 */
 #progressContainer {
	margin-left: auto;
	position: fixed;
	z-index: 1;
	right: 0;
	top: 150px;
	float: right;
	display: fiex;
 }

#progressContainer > div {
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
}
 
#itemLabelContainer {
	position: absolute;
	display: inline-block;
	top: -40px;
	color: Aliceblue;
	font-weight: bolder;
	font-size: 30pt;
	font-style: italic;
	text-shadow: 2px 2px black;
}

.itemLabelDoesNotOwn {
	color: LightGray;
	opacity: 0.7;
}

#itemLabel {
	width: 350px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#itemContainer {
	width: 360px;
	height: 240px;
}

#equipmentContainer, #medallionsContainer, #songsContainer {
	width: 360px;
	height: 120px;
}

.item {
	height: 60px;
	width: 60px;
	background-size: contain;
	background-repeat: no-repeat;
}

.item.playerDoesNotHave {
	opacity: 0.3;
}

.item.playerDoesNotHave:hover {
	opacity: 1;
}